.GoalsList {
	clear: both;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
.GoalsList > ul {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #E0E0E0;
  padding: 15px;
  border-radius: 4pt;
  background-color: #333;
  color: white;
  text-shadow: 0 0 2px black;
	cursor: pointer;
}
.GoalsList > ul > li {
}
.GoalsList > ul > li > p {

}